.refresh{
    text-align: end;
}

.bodydiv{
    margin-top: 75px;
}

.mainbox{
    margin-top: 20vh;
    height: auto;
    width: 700px;
    padding-top: 15px;
    background-color: whitesmoke;
}

@media only screen and (max-width: 500px){
    .mainbox{
        margin-top: 20vh;
        height: auto;
        width: 455px;
        padding-top: 15px;
        background-color: whitesmoke;
    }
}



